# Dependency
node_modules/
**/node_modules/

# Environment Variables
.env
.env.local
**/ .env

# Build outputs
dist/
build/
**/dist

# IDE & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Database & Logs
logs
*.log
npm-debug.log*
data/mysql/

# Frontend specific
apps/frontend/dist
apps/frontend/stats.html

# Backend specific
apps/backend/logs/